/vendor
/node_modules
/.docker
/storage/*.key
/.idea
/.vscode
/.fleet
/.git
/build
/cache
/tests
/public/build
/public/hot
/public/storage
/.phpunit.cache
/reports
.env
.dockerignore
.editorconfig
.gitattributes
phpunit.xml
.phpunit.result.cache
CHANGELOG.md
README.md
docker-compose.yaml
doctum.php
.env.backup
.env.production
.phpactor.json
npm-debug.log
yarn-error.log
