#vendor/
node_modules/
.docker/
storage/*.key
storage/logs/*
.idea/
.vscode/
.fleet/
.git/
build/
cache/
tests/
#/public/build
public/hot/
#/public/storage
.phpunit.cache/
reports/
k8s/
bootstrap/cache/*
.env
.dockerignore
.editorconfig
.gitattributes
phpunit.xml
.phpunit.result.cache
CHANGELOG.md
README.md
LICENSE
README.pt-br.md
docker-compose.yaml
doctum.php
.env.backup
.env.production
.phpactor.json
npm-debug.log
yarn-error.log
